/*
Colors used:
Primary Color (Black): #0a0a0a;
Secondary Color (Blue): #2033b0;
Tertiary Color (PocketChange Blue): #0074E8
Super light (Accent grey): #d9d9d9
*/

:root {
  --margin-size: 24px;
  --dash-text-color: #0a0a0a;
  --dash-white: #fff;
  --dash-light-grey: #757575;
  --dash-accent-grey: #d9d9d9;

}

.dash-intro-section {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
  justify-content: center;
  background-image: url("../img/dashdine/hero_2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 256px;
  padding-top: 16px;
  border-radius: 10px;
}

.dash-intro-section .dash-logo {
  display: flex;
  align-items: center;
  align-self: flex-start;
  white-space: nowrap;
  column-gap: 16px;
  color: var(--dash-white);
  font-size: 28px;
}

.dash-intro-section .dash-logo img {
  width: 48px;
  height: 48px;
}

.dash-intro-text p {
  text-align: center;
  margin-bottom: 32px;
}

.primary-dash-header {
  font-size: 32px;
}

.project-goal p {
  margin-top: 16px;
}

.project-goal {
  margin-top: 32px;
}

.project-goal img {
  margin-top: 32px;
  margin-bottom: 32px;
  border-radius: 10px;
}

.user-personas img {
  margin-bottom: 32px;
  vertical-align: bottom;
}

.user-personas p {
  margin-bottom: 32px;
  margin-top: 16px;
}

.user-personas .four-screens img {
  border-radius: 10px;
}

.mvp-doc p {
  margin-top: 16px;
  margin-bottom: 32px;
}

.mvp-doc h5 {
  margin-bottom: 16px;
  font-size: 18px;
}

.mvp-doc li {
  font-size: 16px;
  list-style-position: inside;
}

.user-flow {
  margin-top: 32px;
  margin-bottom: 32px;
}

.user-flow img {
  margin-top: 16px;
}

.design-process {
  margin-bottom: 32px;
}

.design-process h2 {
  margin-bottom: 16px;
}

.low-screens {
  margin-top: 32px;
}

.design-process .screens {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 32px;
  align-items: center;
  margin-bottom: 32px;
}

.design-process .screens img {
  vertical-align: bottom;
}

.prototype-testing p {
  margin-top: 16px;
  margin-bottom: 32px;

}

.prototype-testing {
  margin-bottom: 32px;
}

.chef img {
  border-radius: 10px;
}

.style-guide {
  margin-bottom: 32px;
}

.style-guide h2 {
  margin-bottom: 16px;
}

.last-imgs img {
  vertical-align: bottom;
  margin-bottom: 32px;
}

.last-imgs img {
  border-radius: 10px;
}

@media only screen and (min-width: 448px) {
  .dash-intro-section {
    margin-bottom: 64px;
    height: 320px;
    padding-top: 16px;
  }

  .dash-intro-text p {
    margin-bottom: 64px;
    font-weight: 400;
  }

  .project-goal {
    margin-top: 64px;
  }

  .prototype-testing .key-insights {
    margin-top: 64px;
  }
}

@media only screen and (min-width: 480px) {
  .design-process .screens {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    align-items: start;
  }
}

@media only screen and (min-width: 640px) {
  .dash-intro-section {
    margin-bottom: 64px;
    height: 448px;
    padding-top: 16px;
  }

  .dash-intro-section {
    margin-bottom: 64px;
    height: 640px;
    padding-top: 64px;
  }

  .dash-intro-section .dash-logo {
    font-size: 40px;
  }

  .dash-intro-text .collage img {
    margin-top: 64px;
  }

  .dash-intro-text p {
    margin-left: 32px;
    margin-right: 32px;
    max-width: 650px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 400;
  }

  .project-goal {
    margin-top: 64px;
    margin-bottom: 64px;
  }
}


@media only screen and (min-width: 992px) {
  body {
    background-color: white;
    margin: 0 auto;
    margin-top: 32px;
  }

  main {
    max-width: 1440px;
    margin: 0 auto;
  }

  .dash-intro-section {
    margin-bottom: 64px;
    height: 832px;
    padding-top: 32px;
    margin-left: 64px;
    margin-right: 64px;
  }

  .dash-intro-section .dash-logo {
    column-gap: 32px;
    font-size: 64px;
  }

  .dash-intro-section .dash-logo img {
    width: 96px;
    height: 96px;
  }

  .dash-intro-text p {
    margin-left: 64px;
    margin-right: 64px;
    max-width: 650px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 400;
  }

  .dash-intro-text .collage img {
    margin-top: 64px;
  }

  .dash-intro-text {
    margin-left: 64px;
    margin-right: 64px;
  }

  .project-goal {
    margin-left: 64px;
    margin-right: 64px;
    margin-top: 64px;
  }

  .user-personas {
    margin-top: 64px;
    margin-left: 64px;
    margin-right: 64px;
  }

  .mvp-doc {
    margin-left: 64px;
    margin-right: 64px;
    margin-top: 64px;
  }

  .user-flow {
    margin-left: 64px;
    margin-right: 64px;
    margin-top: 64px;
  }

  .design-process {
    margin-left: 64px;
    margin-right: 64px;
    margin-top: 64px;
  }

  .design-process .screens {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 32px;
    align-items: start;
    margin-bottom: 32px;
  }

  .prototype-testing {
    margin-left: 64px;
    margin-right: 64px;
    margin-top: 64px;
  }

  .chef img {
    border-radius: 10px;
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .style-guide {
    margin-bottom: 64px;
    margin-left: 64px;
    margin-right: 64px;
  }

  .last-imgs {
    margin-left: 64px;
    margin-right: 64px;
    margin-bottom: 32px;
  }
}