/*
Colors used:
Primary Color (Black): #0a0a0a;
Secondary Color (Blue): #2033b0;
Tertiary Color (PocketChange Blue): #0074E8
Super light (Accent grey): #d9d9d9
*/

:root {
  --margin-size: 24px;
  --pocket-change-blue: #0074e8;
  --pocket-change-green: #1bd665;
  --pocket-change-text-color: #0a0a0a;
  --pocket-change-white: #fff;
  --pocket-change-light-grey: #757575;
  --pocket-change-accent-grey: #d9d9d9;

}

h5 {
  font-size: 16px;
  font-weight: 500;
}

.top-thumbnail {
  margin-top: 32px;
}

.top-thumbnail img {
  border-radius: 10px;
}

h1 {
  display: none;
}

.pocket-change-logo {
  display: flex;
  align-items: center;
  color: var(--pocket-change-text-color);
  font-size: 32px;
  width: 75px;
  height: 75px;
}

.logo-blue {
  color: var(--pocket-change-blue);
}

.section-finance-app {
  margin-top: 32px;
  margin-bottom: 32px;
}

.section-about {
  margin-top: 32px;
  margin-bottom: 32px;
}

.section-intro {
  margin-top: 32px;
  margin-bottom: 32px;
}

.app-selling-points {
  margin-bottom: 16px;
}

.section-overview h3 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 32px;
  margin-bottom: 16px;
}

.section-overview {
  margin-top: 32px;
  margin-bottom: 32px;
}

.question:not(:last-of-type) {
  padding-bottom: 32px;
  border-bottom: 1px solid var(--pocket-change-accent-grey);
}

.design-process {
  margin-top: 32px;
}

.design-process ul {
  font-size: 16px;
  list-style-position: inside;
}

.competitor-analysis {
  margin-top: 32px;
}

.branding {
  margin-top: 32px;
  margin-bottom: 32px;
}

.branding-logos {
  display: grid;
}

.branding h3 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 32px;
  margin-bottom: 16px;
}

.pay-phone-img img {
  border-radius: 10px;
}

.light-grey-text {
  color: var(--pocket-change-light-grey);
}

.user-flow {
  margin-top: 32px;
}

.low-mid-wireframes {
  margin-top: 32px;
}

.low-mid-wireframes .screens {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 32px;
  align-items: center;
}

.screens {
  margin-top: 32px;
}

.low-mid-wireframes h3 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 32px;
  margin-bottom: 16px;
}

.user-prototype-tests {
  margin-top: 32px;
}

.user-prototype-tests p {
  margin-bottom: 32px;
}

.high-fidelity-wireframes {
  margin-top: 32px;
  margin-bottom: 32px;
}

.woman-mockup-screen img {
  border-radius: 10px;
}

.desktop-website {
  margin-top: 32px;
  margin-bottom: 32px;
}

.desktop-website p {
  margin-bottom: 32px;
}

.high-fidelity-wireframes .screens {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 32px;
  align-items: center;
}

.final-images img {
  border-radius: 10px;
}

@media only screen and (max-width: 536px) {
  .verticle-line {
    display: none;
  }
}

@media only screen and (min-width: 536px) {
  .section-about {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .app-selling-points {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }

  .verticle-line {
    color: #d9d9d9;
    margin-left: 12px;
    margin-right: 12px;
  }

  .design-process {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .competitor-analysis {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .branding .branding-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  .branding .branding-logos img {
    max-width: 225px;
  }

  .branding .color-palette {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .branding .typography {
    margin-bottom: 64px;
  }

  .user-flow {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .user-prototype-tests {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .woman-mockup-screen img {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .user-prototype-tests {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .desktop-website {
    margin-bottom: 64px;
  }

  .final-images .phone-two-rocks img {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .final-images .phone-one-rock img {
    margin-bottom: 32px;
  }
}

@media only screen and (min-width: 992px) {
  main {
    max-width: 1440px;
    padding-left: 64px;
    padding-right: 64px;
  }

  body {
    background-color: white;
    margin: 0 auto;
    margin-top: 32px;
  }

  .section-about {
    margin-top: 96px;
    margin-bottom: 96px;
  }

  .section-intro p {
    max-width: 900px;
  }

  .app-selling-points {
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 32px;
  }

  .verticle-line {
    color: #d9d9d9;
    margin-left: 16px;
    margin-right: 16px;
  }

  .section-overview {
    margin-top: 96px;
    margin-bottom: 96px;
  }

  .design-process {
    margin-top: 96px;
    margin-bottom: 96px;
  }

  .competitor-analysis {
    margin-top: 96px;
    margin-bottom: 96px;
  }

  .branding .branding-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  .branding .branding-logos img {
    max-width: 450px;
  }

  .branding .color-palette {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .branding .typography {
    margin-bottom: 96px;
  }

  .user-flow {
    margin-top: 96px;
    margin-bottom: 96px;
  }

  .user-prototype-tests {
    margin-top: 96px;
    margin-bottom: 96px;
  }

  .woman-mockup-screen img {
    border-radius: 10px;
    margin-top: 96px;
    margin-bottom: 96px;
  }

  .desktop-website {
    margin-bottom: 96px;
  }

  .final-images .phone-two-rocks img {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .final-images .phone-one-rock img {
    margin-bottom: 32px;
  }
}