/*
Colors used:
Primary Color (Black): #0a0a0a;
Secondary Color (Blue): #2033b0;
Tertiary Color (PocketChange Blue): #0074E8
*/

:root {
  --main-text-color: #0a0a0a;
  --main-bg-color: #fff;
  --secondary-text-color: #757575;
  --light-text-color: #fff;
  --dark-bg-color: #000;
  --margin-size: 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-bg-color);
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--main-text-color);
  margin-top: 16px;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 600;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

p {
  font-size: 16px;
  line-height: 1.4;
}

img {
  width: 100%;
}

header {
  text-align: center;
  justify-content: space-between;
  margin-left: 32px;
  margin-right: 32px;
}

main {
  margin-left: var(--margin-size);
  margin-right: var(--margin-size);
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

a:hover,
a:visited,
a:active,
a:focus {
  color: var(--main-text-color);
}

nav {
  display: flex;
}

.lets-connect {
  margin-left: 32px;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  padding: 0;
  column-gap: 4px;
  color: var(--main-text-color);
  margin-top: 16px;
}

nav ul .text-nav {
  transition: 0.5s;
}

nav ul .text-nav:hover {
  transform: scale(1.2);
}

.hamburger {
  display: none;
  margin-left: 32px;
  margin-top: 4px;
}

@media only screen and (max-width: 641px) {
  .hamburger {
    display: block;
  }

  nav ul {
    display: none;
  }

  nav.show ul {
    display: block;
    position: absolute;
    right: 20px;
    top: 48px;
    padding: 8px;
    text-align: right;
  }

  nav.show .hamburger .fa-bars::before {
    content: "\58";
    margin-left: 3px;
  }

  /* .lets-connect {
    position: absolute;
  } */
}

.by-tristan-logo {
  font-size: 24px;
  font-weight: 500;
  transition: 0.5s;
}

.by-tristan-logo:hover {
  transform: scale(1.1);
  cursor: pointer;
}

sup {
  font-size: 15px;
  font-weight: 700;
}

a.primary-button {
  display: inline-block;
  background-color: var(--dark-bg-color);
  color: var(--light-text-color);
  padding: 8px 16px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
}

.primary-button {
  transition: 0.5s;
}

.primary-button:hover {
  transform: scale(1.1);
}

.secondary-button {
  transition: 0.5s;
}

.secondary-button:hover {
  transform: scale(1.1);
}

a.secondary-button {
  display: inline-block;
  background-color: var(--light-text-color);
  color: var(--main-text-color);
  border: 1px solid var(--dark-bg-color);
  padding: 8px 16px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
}

.hero {
  text-align: center;
  margin-bottom: 64px;
  margin-top: 64px;
}

.hero .my-name {
  font-size: 48px;
}

.hero p {
  margin-top: 24px;
}

.blue-text {
  color: #0071eb;
  font-weight: 500;
}

.section-header {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 24px;
  color: var(--secondary-text-color);
}

.featured-work {
  margin-bottom: 64px;
}

.featured-work .project-thumbnails {
  display: grid;
  grid-template-columns: repeat(minmax(200px, 1fr));
  grid-gap: 64px;
  align-items: center;
}

.featured-work .project-thumbnails img {
  border-radius: 8px;
  height: 100%;
}

.explore-link {
  font-size: 16px;
}

.explore-link::after {
  content: ' ';
  display: inline-block;
  height: 14px;
  width: 14px;
  background-image: url('../img/arrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 4px;
}

.secondary-text {
  color: var(--secondary-text-color);
}

.about h3 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 32px;
  margin-bottom: 16px;
}

.about p:not(:last-of-type) {
  margin-bottom: 16px;
}

.about p {
  margin-bottom: 16px;
}

.resource-links {
  margin-top: 32px;
  display: flex;
  column-gap: 24px;
  align-items: flex-start;
}

.resource-links img {
  width: 50px;
  border-radius: 10px;
}

.resource-links img {
  transition: 0.5s;
}

.resource-links img:hover {
  transform: scale(1.1);
}

.contact {
  margin-top: 64px;
}

.contact h3 {
  font-size: 20px;
  font-weight: 500;
}

.contact p {
  margin-top: 16px;
}

.contact p:last-of-type {
  margin-top: 64px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 64px;
  text-align: center;
}

footer {
  background-color: var(--dark-bg-color);
  padding: 32px;
  color: var(--light-text-color);
}

footer .footer-section {
  display: flex;
  justify-content: space-between;
}

footer .copyright {
  margin-top: 32px;
}

.footer-links>* {
  font-size: 16px;
}

footer a {
  color: var(--light-text-color) !important;
}

.footer-links {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.footer-links a {
  transition: 0.5s;
}

.footer-links a:hover {
  transform: scale(1.1);
}

.footer-links p {
  transition: 0.5s;
}

a.tertiary {
  display: inline-flex;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--main-bg-color);
}

.tertiary {
  transition: 0.5s;
}

.tertiary:hover {
  transform: scale(1.1);
}

.featured-work .project-thumbnails img {
  transition: 0.5s;
}

.featured-work .project-thumbnails img:hover {
  transform: scale(1.05);
}

@media only screen and (min-width: 536px) {
  header {
    display: flex;
    align-items: center;
  }

  .hero .my-name {
    font-size: 64px;
  }

  .hero p {
    max-width: 650px;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 128px;
  }

  nav ul {
    margin-top: 0;
    column-gap: 16px;
  }

  main {
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 16px;
  }

  .featured-work .project-thumbnails {
    grid-template-columns: repeat(minmax(430px, 1fr));
    max-width: calc(500px * 1);
    margin: 0 auto;
  }

  .section-header {
    font-size: 24px;
  }

  .about {
    margin-top: 128px;
  }

  .about-content {
    display: flex;
    align-items: center;
    gap: 5%;
  }

  .about h3 {
    font-size: 32px;
    margin-top: 0;
  }

  .about p {
    font-size: 16px;
    max-width: 1900px;
  }

  .resource-links {
    margin-top: 64px;
  }

  .contact h3 {
    font-size: 32px;
  }

  .contact p:last-of-type {
    margin-top: 64px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 32px;
    text-align: center;
  }
}

@media only screen and (min-width: 992px) {
  body {
    background-color: white;
    margin: 0 auto;
    margin-top: 32px;
  }

  main {
    max-width: 1440px;
    margin: 0 auto;
  }

  header {
    display: flex;
    align-items: center;
    margin-left: 64px;
    margin-right: 64px;
  }

  .hero {
    margin-top: 128px;
    /* background-image: url("https://i.gifer.com/IxSX.gif"); */
  }

  .container {
    display: inline-block;
  }

  .hero .my-name {
    font-size: 128px;
    border-right: 5px solid;
    /* border-color: blue; */
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s, cursor 0.9s step-end infinite;
    /* steps(11) this is the char count for h2 but animation wont follow it */
  }

  @keyframes cursor {
    50% {
      border-color: transparent;
    }
  }

  @keyframes typing {
    from {
      width: 0;
    }

    to {
      width: 100%;
    }
  }

  .hero p {
    font-size: 24px;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 256px;
  }

  nav ul {
    margin-top: 0;
    column-gap: 32px;
  }

  .featured-work {
    margin-bottom: 64px;
    margin-left: 64px;
    margin-right: 64px;
  }

  .featured-work .project-thumbnails {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 24px;
    max-width: calc(1000px * 3);
    margin: 0 auto;
  }

  .section-header {
    font-size: 32px;
  }

  .about {
    margin-top: 128px;
    margin-left: 64px;
    margin-right: 64px;
  }

  .about-content {
    display: flex;
    align-items: center;
    gap: 5%;
  }

  .about h3 {
    font-size: 40px;
    margin-top: 0;
  }

  .about p {
    font-size: 24px;
    max-width: 1900px;
  }

  .resource-links {
    margin-top: 64px;
  }

  .contact {
    margin-top: 128px;
    margin-left: 64px;
    margin-right: 64px;
  }

  .contact h3 {
    font-size: 40px;
  }

  .contact p {
    font-size: 24px;
  }

  .contact p:last-of-type {
    margin-top: 128px;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 64px;
    text-align: center;
  }

  footer {
    padding: 0;
    padding-bottom: 32px;
  }

  footer .footer-section {
    display: flex;
    justify-content: space-between;
    margin-left: 64px;
    margin-right: 64px;
    padding-bottom: 32px;
  }

  footer .copyright {
    margin-top: 64px;
    margin-left: 64px;
    margin-right: 64px;
  }

  .footer-links {
    margin-top: 32px;
  }

  footer .footer-section .tertiary {
    margin-left: 64px;
    margin-top: 32px;
  }
}